{% extends 'base.html.twig' %}

{% block title %}Nuevo Proveedor{% endblock %}

{% block body %}
    <h1>Nuevo Proveedor</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success mt-2">Guardar</button>
    {{ form_end(form) }}

    <a href="{{ path('proveedor_index') }}" class="btn btn-secondary mt-3">Volver</a>
{% endblock %}
